<!-- <div class="callout movie-card">
    <p><img [src]="movie.imageUrl" alt="image of a planet called Pegasi B"></p>
    <p class="lead">{{movie.title}}</p>
    <p class="subheader movie-description">{{movie.description}}</p>
</div> -->
<div class="card" routerLink="/crisis-center" [routerLink]="['/movie', movie.id]">
    <div class="card-divider">
        <h4>{{movie?.title}}</h4>
    </div>
    <img [src]="movie?.imageUrl">
    <div class="card-section">
        <p class="h6" *ngIf="movie.rating > 0"><i class="fa fa-star"></i> {{movie?.rating}} <br>
        {{movie?.genresLabel}}</p>
    </div>
</div>
